// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ General                                                                                 ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Spacing
.item-3XjbnG {
  display: flex;
  align-items: center; 
}

// Sidebar
.sidebar-nqHbhN {
  min-width: calc(218px + var(--SeIc-width-serverlist));
}

// Remove
.premiumLabel-3HPvdB svg,
.tabBarItemContainer-2HdIlr svg,
.tabBarItemContainer-2HdIlr > div,
.landingPageTabLink-1dhCqV .textBadge-1fdDPJ {
  display: none;
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Text & Background                                                                       ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Normal
.sidebar-nqHbhN .item-3XjbnG {
  text-transform: var(--SeIc-style-text);
  background: var(--SeIc-color-background-normal);
  color: var(--SeIc-color-text-normal);
}

// Hover
.sidebar-nqHbhN .item-3XjbnG:hover {
  color: var(--SeIc-color-text-hover);
}

// Active
.sidebar-nqHbhN .selected-g-kMVV.item-3XjbnG {
  color: var(--SeIc-color-text-active);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Nitro Background                                                                        ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Nitro Background (Normal)
.sidebar-nqHbhN .premiumTab-39eQzY,
.sidebar-nqHbhN .serverBoostTabItem-3QwA3W {
  background: var(--SeIc-color-background-nitro-normal);
  color: var(--SeIc-color-text-nitro-normal);
}

// Nitro Background (Hover)
.sidebar-nqHbhN .premiumTab-39eQzY:hover,
.sidebar-nqHbhN .serverBoostTabItem-3QwA3W:hover {
  background: var(--SeIc-color-background-nitro-hover) !important;
  color: var(--SeIc-color-text-nitro-hover);
}

// Nitro Background (Active)
.sidebar-nqHbhN .premiumTab-39eQzY .selectedBackground-1t6xXq,
.sidebar-nqHbhN .serverBoostTabItem-3QwA3W.selected-g-kMVV {
  background: var(--SeIc-color-background-nitro-active) !important;
  color: var(--SeIc-color-text-nitro-active);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Nitro Icon                                                                              ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Nitro Icon (Normal)
.sidebar-nqHbhN .premiumTab-39eQzY.item-3XjbnG::before,
.sidebar-nqHbhN .serverBoostTabItem-3QwA3W.item-3XjbnG::before  {
  background: var(--SeIc-color-icon-nitro-normal) !important;
}

// Nitro Icon (Hover)
.sidebar-nqHbhN .premiumTab-39eQzY:hover.item-3XjbnG::before,
.sidebar-nqHbhN .serverBoostTabItem-3QwA3W:hover.item-3XjbnG::before {
  background: var(--SeIc-color-icon-nitro-hover) !important;
}

// Nitro Icon (Active)
.sidebar-nqHbhN .premiumTab-39eQzY.selected-g-kMVV.item-3XjbnG::before,
.sidebar-nqHbhN .serverBoostTabItem-3QwA3W.selected-g-kMVV.item-3XjbnG::before {
  background: var(--SeIc-color-icon-nitro-active) !important;
}


// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Icons                                                                                   ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Normal
.sidebar-nqHbhN .item-3XjbnG::before {
  content: "";
  background: var(--SeIc-color-icon-normal);
  width: 24px;
  height: 22px;
  margin: -2px 6px 0px 0px;
  -webkit-mask: var(--icon) center/contain no-repeat;
  mask: var(--icon) center/contain no-repeat;
  flex-shrink: 0;
  --icon: var(--SeIc-icon-placeholder);
}

// Hover
.sidebar-nqHbhN .item-3XjbnG:hover::before {
  background: var(--SeIc-color-icon-hover);
}

// Active
.sidebar-nqHbhN .selected-g-kMVV.item-3XjbnG::before {
  background: var(--SeIc-color-icon-active);
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Base                     ║ Header                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Normal
.sidebar-nqHbhN .header-2Kx1US {
  color: var(--SeIc-color-header-normal);
  text-transform: var(--SeIc-style-header);
}