// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Icons                    ║ Mixins                                                                                  ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Settings-Icon (Normal)
@mixin icons-normal($item-id, $url) {
  .sidebar-nqHbhN .item-2GWPIy[aria-controls="#{$item-id}"]::before {
    --icon: #{$url} !important;
    z-index: 2;
  }
}

// Settings-Icon (Extra)
@mixin icons-extra($item-id, $url) {
  .sidebar-nqHbhN .item-2GWPIy[aria-controls*="#{$item-id}"]::before {
    --icon: #{$url} !important;
    z-index: 2;
  }
}

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Icons                    ║ Icons (Settings)                                                                        ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// My Account
@include icons-normal(my-account-tab, var(--SeIc-icon-my-account));

// Profiles
@include icons-normal(profile-customization-tab, var(--SeIc-icon-profiles));

// Privacy & Safety
@include icons-extra(privacy, var(--SeIc-icon-privacy-n-safety));

// Authorized Apps
@include icons-normal(authorized-apps-tab, var(--SeIc-icon-authorized-apps));

// Devices
@include icons-normal(sessions-tab, var(--SeIc-icon-devices));

// Connections
@include icons-normal(passport-tab, var(--SeIc-icon-connections));

// Friend Requests
@include icons-normal(friend-requests-tab, var(--SeIc-icon-friend-requests));

// Discord Nitro
@include icons-normal(discord-nitro-tab, var(--SeIc-icon-discord-nitro));

// Server Boost
@include icons-normal(nitro-server-boost-tab, var(--SeIc-icon-server-boost));

// Subscriptions
@include icons-normal(subscriptions-tab, var(--SeIc-icon-subscriptions));

// Gift Inventory
@include icons-normal(library-inventory-tab, var(--SeIc-icon-gift-inventory));

// Billing
@include icons-normal(billing-tab, var(--SeIc-icon-billing));

// Appearance
@include icons-normal(appearance-tab, var(--SeIc-icon-appearance));

// Accessibility
@include icons-normal(accessibility-tab,var(--SeIc-icon-accessibility));

// Voice & Video
@include icons-extra(voice, var(--SeIc-icon-voice-n-video));

// Text & Images
@include icons-extra(text, var(--SeIc-icon-text-n-images));

// Notifications
@include icons-normal(notifications-tab, var(--SeIc-icon-notifications));

// Keybinds
@include icons-normal(keybinds-tab, var(--SeIc-icon-keybinds));

// Language
@include icons-normal(language-tab, var(--SeIc-icon-language));

// Linux Settings
@include icons-normal(linux-tab, var(--SeIc-icon-linux-settings));

// Windows Settings
@include icons-normal(windows-tab, var(--SeIc-icon-windows-settings));

// Streamer Mode
@include icons-normal(streamer-mode-tab, var(--SeIc-icon-streamer-mode));

// Advanced
@include icons-normal(advanced-tab, var(--SeIc-icon-advanced));

// Activity Privacy
@include icons-normal(activity-privacy-tab, var(--SeIc-icon-activity-privacy));

// Registered Games
@include icons-normal(game-activity-tab, var(--SeIc-icon-registered-games));

// Game Overlay
@include icons-normal(overlay-tab, var(--SeIc-icon-game-overlay));

// Change Log
@include icons-normal(changelog-tab, var(--SeIc-icon-change-log));

// HypeSquad
@include icons-normal(hypesquad-online-tab, var(--SeIc-icon-hypesquad));

// Experiments
@include icons-normal(experiments-tab, var(--SeIc-icon-experiments));

// Developer Options
@include icons-normal(developer-options-tab, var(--SeIc-icon-developer-options));

// Hotspot Options
@include icons-normal(hotspot-options-tab, var(--SeIc-icon-hotspot-options));

// Dismissible Contents
@include icons-normal(dismissible-content-options-tab, var(--SeIc-icon-dismissible-contents));

// Payment Flow Modals
@include icons-normal(payment-flow-modals-tab, var(--SeIc-icon-payment-flow-modals));

// Log out
@include icons-normal(logout-tab, var(--SeIc-icon-logout));

// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ Icons                    ║ Icons (Guild & Channels)                                                                ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Overview
@include icons-normal(overview-tab, var(--SeIc-icon-overview));

// Roles
@include icons-normal(roles-tab, var(--SeIc-icon-roles));

// Emoji
@include icons-normal(emoji-tab, var(--SeIc-icon-emoji));

// Stickers
@include icons-normal(stickers-tab, var(--SeIc-icon-stickers));

// Integrations
@include icons-normal(integrations-tab, var(--SeIc-icon-integrations));

// Widget
@include icons-normal(widget-tab, var(--SeIc-icon-widget));

// Server Template
@include icons-normal(guild_templates-tab, var(--SeIc-icon-server-template));

// Custom Invite Link
@include icons-normal(vanity_url-tab, var(--SeIc-icon-custom-invite-link));

// Rules Screening
@include icons-normal(member_verification-tab, var(--SeIc-icon-rules-screening));

// Safety Setup
@include icons-normal(moderation-tab, var(--SeIc-icon-safety-setup));

// AutoMod
@include icons-normal(guild_automod-tab, var(--SeIc-icon-auto-mod));

// Audit Log
@include icons-normal(audit_log-tab, var(--SeIc-icon-audit-log));

// Bans
@include icons-normal(bans-tab, var(--SeIc-icon-bans));

// Overview
@include icons-normal(community-tab, var(--SeIc-icon-overview));

// Server Insights
@include icons-normal(analytics-tab, var(--SeIc-icon-analytics));

// Partner Program
@include icons-normal(partner-tab, var(--SeIc-icon-partner-program));

// Discovery
@include icons-normal(discovery-tab, var(--SeIc-icon-discovery));

// Welcome Screen
@include icons-normal(community_welcome-tab, var(--SeIc-icon-welcome-screen));

// Server Boost Status
@include icons-normal(guild_premium-tab, var(--SeIc-icon-server-boost-status));

// Members
@include icons-normal(members-tab, var(--SeIc-icon-members));

// Invites
@include icons-normal(instant_invites-tab, var(--SeIc-icon-invites));

// Permissons
@include icons-normal(permissions-tab, var(--SeIc-icon-permissons));

// Delete Channel
@include icons-normal(delete-tab, var(--SeIc-icon-delete-channel));